# Ignore Unix backup files
*~

*.target.xml
*.exe.config
*.exe.manifest

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore VS / VS Code settings directory
.vs
.vscode
*.suo
*.pdb
*.exe
*.dll
*.xml
*.vcxproj.user
*.csproj.user
*.DotSettings.user
csharp-build
CMakeSettings.json
launchSettings.json
.idea
cm-build-x64
cm-build
/build

bin/
obj/
x64/

vendors/spdlog

*.aps
*.rxs
*.cap
*.stn
*.adv
/binaries/*
!/binaries/.gitkeep
/binaries/data/*
!/binaries/data
!/binaries/data/.gitkeep
ILRepack.log
/build/*
ILRepack.log
CMakeFiles
CMakeCache.txt
__pycache__
/data
