# Ignore Unix backup files
*~

*.target.xml
*.exe.config
*.exe.manifest

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore VS / VS Code settings directory
.vs
.vscode
*.suo
*.pdb
*.exe
*.dll
*.xml
*.vcxproj.user
*.csproj.user
*.DotSettings.user
csharp-build
launchSettings.json

bin/
obj/
x64/

vendors/spdlog

*.aps
*.rxs
*.cap
*.stn
*.adv
__pycache__
