<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibraryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibraryManager.Properties.Settings>
            <setting name="FindBooks_LastSearchField" serializeAs="String">
                <value>EBibliographicKindInformation.All</value>
            </setting>
            <setting name="FindBooks_SearchOnFly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug_TextFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BooksView_FirstSortBookProperty" serializeAs="String">
                <value>Author</value>
            </setting>
            <setting name="BooksView_SecondSortBookProperty" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="BooksView_ThirdSortBookProperty" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="BooksView_FirstSortProperty_ByDescent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BooksView_SecondSortProperty_ByDescent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BooksView_ThirdSortProperty_ByDescent" serializeAs="String">
                <value>True</value>
            </setting>
        </LibraryManager.Properties.Settings>
    </userSettings>
</configuration>